@font-face {
    font-family: "Pokemon_Solid";
    src: url('../font/Pokemon_Solid.ttf') format('truetype');
}

h1 {
    font-family: "Pokemon_Solid";
    text-shadow: 2px 2px 2px black;
    -webkit-text-stroke: 1px black;
}

.scroll-box {
    height: 500px;
    border-right: 2px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

aside img {
    width: 100%;
    object-fit: cover;
}

@media (max-width: 777px) {
    body {
        display: flex;
        flex-direction: column;
    }

    img {
        width: fit-content;
        object-fit: cover;
    }

    .scroll-box {
        height: 200px;
    }
}