* {
    box-sizing: border-box;
    outline: none;
}

body {
    background: rgb(28, 139, 143);
    font-family: "Open Sans", Arial;
    color: #ecf0f5;
    line-height: 1.8;
    text-align: justify;
}

h2 {
    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #532519;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px 10px;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

main.container {
    display: flex;
    flex-direction: row;
}

main>section {
    width: 75%;
    background-color: rgba(114, 118, 126, 0.438);
    padding: 10px;

}

main>aside {
    width: 25%;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: justify;
}


section img {
    max-width: 100%;
    border-radius: 10px 10px;
    margin-bottom: 20px;
}

header {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

header a {
    font-family: "PT Sans Narrow";
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: background-color 0.8s ease 0s;
    font-size: 1.8em;
    flex-basis: 33.3333%;
}

header a:hover {
    background-color: #a79189;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #532519;
}

@media screen and (max-width: 1000px) {

    main.container {
        flex-direction: column;
    }

    header a {
        flex-basis: 100%;
    }

    main.container>aside {
        width: 100%;
    }

    main.container>section {
        width: 100%;
    }


}

@media screen and (max-width: 600px) {

    main.container>aside {
        display: none;
    }

}